%hr.no-margin-top
  .width100.section-block
    %h3.section-title
      %span BRAND
      %a#nextBrand.link.pull-right.carousel-nav
        %i.fa.fa-angle-right
      %a#prevBrand.link.pull-right.carousel-nav
        %i.fa.fa-angle-left
    .row
      .col-lg-12
        %ul.no-margin.brand-carousel.owl-carousel.owl-theme
          %li
            %a= image_tag 'brand/1.gif'
          %li
            %a= image_tag 'brand/2.png'
          %li
            %a= image_tag 'brand/3.png'
          %li
            %a= image_tag 'brand/4.png'
          %li
            %a= image_tag 'brand/5.png'
          %li
            %a= image_tag 'brand/6.png'
          %li
            %a= image_tag 'brand/7.png'
          %li
            %a= image_tag 'brand/8.png'
          %li
            %a= image_tag 'brand/1.gif'
          %li
            %a= image_tag 'brand/2.png'
          %li
            %a= image_tag 'brand/3.png'
          %li
            %a= image_tag 'brand/4.png'
          %li
            %a= image_tag 'brand/5.png'
          %li
            %a= image_tag 'brand/6.png'
          %li
            %a= image_tag 'brand/7.png'
          %li
            %a= image_tag 'brand/8.png'