.w100.sectionCategory
  .container
    .sectionCategoryIntro.text-center
      %h1 Featured Categories
      %p litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
    .row.subCategoryList.clearfix
      .col-md-2.col-sm-3.col-xs-4.col-xs-mini-6.text-center
        .thumbnail.equalheight
          %a.subCategoryThumb{:href => "sub-category.html"}
            = image_tag '3.jpg', :class => 'img-rounded'
          %a.subCategoryTitle
            %span T shirt
      .col-md-2.col-sm-3.col-xs-4.col-xs-mini-6.text-center
        .thumbnail.equalheight
          %a.subCategoryThumb{:href => "sub-category.html"}
            = image_tag 'casual.jpg', :class => 'img-rounded'
          %a.subCategoryTitle
            %span Shirt
      .col-md-2.col-sm-3.col-xs-4.col-xs-mini-6.text-center
        .thumbnail.equalheight
          %a.subCategoryThumb{:href => "sub-category.html"}
            = image_tag 'shoe.jpg', :class => 'img-rounded'
          %a.subCategoryTitle
            %span shoes
      .col-md-2.col-sm-3.col-xs-4.col-xs-mini-6.text-center
        .thumbnail.equalheight
          %a.subCategoryThumb{:href => "sub-category.html"}
            = image_tag 'jewelry.jpg', :class => 'img-rounded'
          %a.subCategoryTitle
            %span Accessories
      .col-md-2.col-sm-3.col-xs-4.col-xs-mini-6.text-center
        .thumbnail.equalheight
          %a.subCategoryThumb{:href => "sub-category.html"}
            = image_tag 'winter.jpg', :class => 'img-rounded'
          %a.subCategoryTitle
            %span Winter Collection
      .col-md-2.col-sm-3.col-xs-4.col-xs-mini-6.text-center
        .thumbnail.equalheight
          %a.subCategoryThumb{:href => "sub-category.html"}
            = image_tag 'Male-Fragrances.jpg', :class => 'img-rounded'
          %a.subCategoryTitle
            %span Fragrances